<!DOCTYPE html>
{% set error = data["error"] %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>randomSorter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
        <h1><button class="btn btn-primary float-end d-xl-flex" type="button" style="margin-top: 10px;">Login</button>Welcome to the random list sorter</h1>
        {% if error is not none %}
            <div class="alert alert-danger" role="alert"><span>ERROR - {{ error }}</span></div>
        {% endif %}
        <p>Upload a list to start</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="text-center">The List</h3>
                {% for user in data["sortedList"] %}
                    <button class="btn btn-primary border rounded d-flex d-xl-flex justify-content-xl-center" type="button" style="max-width: 100%;width: 100%;">{{ user }}<br></button>
                {% endfor %}
                {% if data["dataAvailable"] == true %}
                    <a href="/raw-{{ data['rawData'] }}" target="_blank" ><button class="btn btn-dark border rounded d-flex d-xl-flex justify-content-xl-center" type="button" style="max-width: 100%;width: 100%;margin-top: 10px;">View Raw</button></a>
                {% endif %}
            </div>
            <div class="col">
                <form method="post" enctype=multipart/form-data>
                    {% if data["pathAvailable"] == false %}
                        <h2 class="text-center">Upload</h2><input name="file" class="bg-primary border rounded-0 border-primary form-control-lg d-flex d-xl-flex flex-grow-1 flex-shrink-1 flex-fill align-content-center align-self-center m-auto justify-content-xl-center align-items-xl-center" type="file" style="width: 80%;height: 32px;">
                        <div class="form-check" style="margin-top: 10px;"><input class="form-check-input" name="record" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Record extraction</label></div>
                    {% endif %}
                    {% if data["recordUUID"] is not none %}
                    <p><strong>The unique ID for this extraction is: </strong>{{ data["recordUUID"] }}<br>Lookup Page: <a target="_blank" href="/dbLookup-{{ data['recordUUID'] }}">Link</a></p>
                    {% endif %}
                        <h1 class="text-center">Extract</h1>
                    {% if data["pathAvailable"] == false %}
                        <button class="btn btn-danger border rounded d-flex d-xl-flex flex-grow-1 flex-shrink-1 flex-fill justify-content-center align-items-center align-content-center m-auto justify-content-xl-center" style="max-width: 100%;width: 100%;height: 100px;" type="submit">EXTRACT</button>
                    {% endif %}
                    {% if data["pathAvailable"] == true %}
                    </form>
                    <form action="/" method="get">
                        <button class="btn btn-warning border rounded d-flex d-xl-flex flex-grow-1 flex-shrink-1 flex-fill justify-content-center align-items-center align-content-center justify-content-xl-center" style="max-width: 100%;width: 100%;height: 50px;margin-top: 10px;" type="submit">CLEAR</button>
                    </form>
                        {% endif %}
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>